doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= title
  body 
    h1 Pals Only
    div 
      if currentUser
        h2 Welcome #{currentUser.username}
        if !currentUser.isMember
          a(href="/users/member") Become a Member
        if currentUser.isMember && !currentUser.isAdmin
          a(href="/users/admin") Become an Admin
        p
        a(href="/new") New Message
        p
        a(href="/") Home
        p
        a(href=`/users/${currentUser.id}`) Profile
        p
        a(href="/users/logout") Logout
      else 
        a(href="/") Home
        p 
        a(href="/users/login") Login
        p
        a(href="/users/signup") Sign Up
    block content
