extends layout 

block content 
  section(class="flex items-center flex-col mx-4 my-4 w-full bg-d-cl shadow-2xl rounded sm:w-3/5")
    h2(class="heading pt-3") Become a Member
    if currentUser
      if currentUser.isMember || currentUser.isAdmin
        h2(class="p-5") You already are a member at Pals Only!
      else
        form(action="", method="post" class="my-4 flex flex-col items-center") 
          div(class=label-input)
            label(for="member-passcode") Enter secret pass:
            input(type="text" class="input" name="passcode" placeholder="Enter secret pass here..." required)
          if errors
            div(class="mt-4 my-2 p-2 w-full border border-d-red rounded")
              each error in errors
                p(class="text-center")= error.msg
          button(type="submit" class="button my-4") Submit
    else 
      p(class="p-5")
        a(href="/users/signup" class="link") Sign Up
        |  or 
        a(href="/users/login" class="link") Login
        |  to get access to member form.
