extends layout 

block content
  section(class="flex items-center flex-col mx-4 my-4 w-full bg-d-cl shadow-2xl rounded sm:w-3/5")
    h2(class="heading text-center pt-3") New Message 
    if currentUser
      form(action="" method="post" class="my-4 flex flex-col") 
        div(class="label-input") 
          label(for="title") Title:
          input(type="text" class="input" id="title" name="title" required placeholder="Enter message title here...")
        hr(class="my-3")
        div(class="label-input") 
          label(for="body") Body:
          textarea(id="body" class="input" name="body" cols="30" rows="10" placeholder="Enter message body here...")  
        if errors
          div
          each error in errors
            p= error.msg
        button(type="submit" class="button my-4") Add Message
    else 
      div(class="p-5")
        a(href="/users/signup" class="link") Sign Up
        |  or 
        a(href="/users/login" class="link") Login
        |  to create new messages
